.message{
    padding: 10px;
    margin: 10px;
    width: fit-content
}
.message__user{
    color: white;
    margin-left: auto;
    text-align: right;
}

.message__userCard{
   background-color: #0b81ff!important;
}
.message__userGuest{
    background-color: #e9e9eb!important;
}